.j5-report-container {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  margin-top: 25px;
  padding: 0px 30px 30px 30px;
  align-self: center;
  flex-direction: column;
}

.j5-report-fieldname {
  font-weight: bold;
}
