.j5-report-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 25px;
  padding: 0px 30px 30px 30px;
  align-self: center;
  flex-direction: column;
}

.j5-report-fieldname {
  font-weight: bold;
}

.record-info-table {
  width: 100%;
  display: block;
}

/*
  Slightly separate sections within the table. Not sure what the relevance of
  sections is here, though. This can be removed if needed.
*/
.record-info-table tr.section-start:not(:first-child) td {
  padding-top: 8px;
}

.record-info-table td:first-child {
  padding-right: 15px;
  font-weight: 400;
}

.record-info-table td:last-child {
  text-align: left;
  font-weight: 100;
  max-width: 300px;
}
