.tg-menu-bar {
  /* background: white; */
  color: inherit;
  text-decoration: none;
  z-index: 19;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  width: 100%;
  padding-left: 15px;
}

.tg-menu-bar-item {
  margin: 2px;
}

.tg-menu-bar .bp3-popover {
  margin-top: -1px !important;
}

.tg-menu-bar-popover .bp3-popover .bp3-popover-arrow {
  display: none;
}

.tg-menu-bar-popover .bp3-popover-wrapper {
  width: 100%;
}

li.bp3-menu-divider + li.bp3-menu-divider,
li.bp3-menu-divider:first-child,
li.bp3-menu-divider:last-child {
  display: none;
}
