.demo-nav-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.demo-nav-popover {
  padding: 12px;
}

.demo-nav-link {
  padding: 8px;
  text-decoration: none !important;
  color: #666;
  border-left: 2px solid transparent;
}

.demo-nav-link.nested {
  margin: 3px 20px 8px 20px;
  font-size: 12px;
  padding: 4px 10px;
}

.demo-nav-link-active,
.demo-nav-link:hover {
  border-color: #006cab;
  color: #006cab;
}
