.error-popover {
  margin: 5px;
  color: red;
}

.te-file-upload-input {
  min-width: 140px;
}

.ant-upload.ant-upload-drag {
  border-width: 2px;
}

.tg-upload-inner {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.tg-upload-inner .pt-icon-upload {
  font-size: 30px;
}

.tg-hide-drop-target .ant-upload.ant-upload-drag {
  display: none;
}

.tg-form-component > * {
  width: 100%;
}

.tg-dropzone {
  width: 100% !important;
  height: 100% !important;
  border-width: 1px;
  border-color: #d9d9d9;
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}
.tg-dropzone:hover {
  border-color: rgb(91, 157, 211);
}
.tg-dropzone-active {
  border-color: rgb(91, 157, 211);
}
.tg-dropzone-accept {
  border-color: rgb(123, 214, 150);
}
.tg-dropzone-reject {
  border-color: rgb(221, 106, 98);
}
.tg-dropzone-disabled {
  border-color: rgb(136, 133, 132);
}
.tg-upload-file-list-item {
  display: flex;
  justify-content: space-between;
}
.tg-upload-file-list-item {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  border-radius: 3px;
  padding: 2px;
}
.tg-upload-file-list-item:hover {
  background: rgb(215, 238, 255);
}
.tg-upload-file-list-item-close {
  cursor: pointer;
}
.tg-upload-file-list-item-close:hover {
  opacity: 0.7;
}

.tg-spin {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .Select-multi-value-wrapper {
  max-height: 100px;
  overflow: scroll;
} */

/* dark styles */
.pt-dark .Select.is-open > .Select-control,
.pt-dark .Select-control,
.pt-dark .Select.is-disabled > .Select-control {
  background: rgba(16, 22, 26, 0.3);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  background: rgba(16, 22, 26, 0.3);
  color: #f5f8fa;
}

.pt-dark .Select.is-focused:not(.is-open) > .Select-control {
  background: rgba(16, 22, 26, 0.3);
  color: #f5f8fa;
}

.pt-dark .Select-placeholder,
.pt-dark .Select--single > .Select-control .Select-value {
  color: rgb(191, 204, 214, 0.5); /*#bfccd6*/
}

.pt-dark .Select-control {
  border: none !important;
}

.pt-dark
  .Select.has-value.Select--single
  > .Select-control
  .Select-value
  .Select-value-label,
.pt-dark
  .Select.has-value.is-pseudo-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label,
.pt-dark .Select-option.is-selected {
  color: #f5f8fa;
}

.pt-dark .Select-option {
  background: #30404d;
  color: #f5f8fa;
}

.pt-dark .Select-menu-outer {
  border: 1px solid #26738cb0;
  background: #202b33;
}

.pt-dark .Select-option.is-focused {
  background: rgba(0, 126, 255, 0.08);
  color: #f5f8fa;
}

.pt-dark .tg-upload-file-list-item:hover {
  background: #26738cb0;
}

.tg-inlineLabel.pt-form-group {
  flex-direction: row;
}
.tg-inlineLabel .pt-label {
  flex-shrink: 6;
  padding-right: 10px;
}

.tg-tooltipError .pt-popover-wrapper {
  width: 100%;
}
