.hotkeys-dialog .pt-tab-list {
  background-color: white;
  border-top: 1px solid #ddd;
  padding-left: 10px;
}

.hotkeys-dialog table {
  table-layout: fixed;
  background-color: white;
  margin: 0 5px 5px;
  width: calc(100% - 10px);
  border-spacing: 0;
}

.hotkeys-dialog .table-wrapper {
  height: 60vh;
  overflow: auto;
}

.hotkeys-dialog th {
  width: 50%;
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #ddd;
}

.hotkeys-dialog tr:nth-child(2n) td {
  background-color: #f8f8f8;
}

.hotkeys-dialog td,
.hotkeys-dialog th {
  padding: 8px 12px;
}

.hotkeys-dialog td:first-child {
  border-right: 1px solid lightgrey;
}
