/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
.prism-code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 14px;
  color: #c0c5ce;
  background-color: #1b2b34;
  display: block;
  white-space: pre;
  padding: 0.5rem;
  margin: 0;
  outline: none;
  text-shadow: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  word-wrap: normal;
  word-break: normal;
  text-align: left;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

.token.def {
  color: #f99157;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #65737e;
}

.token.punctuation {
  color: #c0c5ce;
}

.token.namespace {
  opacity: 0.7;
}

.token.def {
  color: #f99157;
}
.token.property {
  color: #fac863;
}
.token.tag > .token.tag,
.token.tag > .token.punctuation {
  color: #eb606b;
}

/*.token.tag > .token.script.language-javascript {
  color: #FAC863;
}*/

/*.token.tag > .token.script.language-javascript > .operator:nth-child(1) {
  color: #C0C5CE;
}*/

/* jsx-bracket */
.token.tag
  > .token.script.language-javascript
  > .punctuation:first-child
  + .punctuation,
.token.tag > .token.script.language-javascript > .punctuation:last-child {
  color: #fac863;
}

.token.attr-value,
.token.string {
  color: #fac863;
}

.token.boolean,
.token.number,
.token.selector {
  color: #c594c5;
}
.token.attr-name {
  color: #99c794;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #5fb3b3;
}

.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #c594c5;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #5fb3b3;
}

.token.placeholder,
.token.variable {
  color: #6699cc;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #d8dee9;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #ec5f67;
}

.token.entity {
  cursor: help;
}
