{
  "rules": {
    "no-alert": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "react/jsx-no-undef": "off",
    "react/no-multi-comp": "off"
  },
  "globals": {
    "render": false,
    "classNames": false,
    "React": false,
    "Component": false,
    "client": false,
    "Chance": false,
    "withTableParams": false,
    "withRouter": false,
    "store": false,
    "renderToggle": false,
    "Position": false,
    "Intent": false,
    "reduxForm": false,
    "times": false,
    "withDialog": false,
    "Classes": false,
    "customIcons": false
  }
}
