.mss-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.mss-item .mss-selected {
  background-color: #f7f7f7;
}

.mss-item:hover {
  background-color: #f3f3f3;
}

.bp3-dark .mss-item:hover {
  background-color: #40566b;
}

.mss-disabled {
  color: #b4b4b4;
  cursor: default;
}

.mss-selected {
  background-color: #f7f7f7;
}
.bp3-dark .mss-selected {
  background-color: #4f6c88;
}

.mss-with_border {
  border-bottom: 1px solid #dddddd;
}
