@import url(~react-table/react-table.css);

.custom-menu-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: block;
  border-radius: 2px;
  padding: 7px;
  line-height: 16px;
  color: inherit;
  user-select: none;
}

.menu-buttons {
  display: flex;
  justify-content: space-between;
}

.data-table-header-menu {
  min-width: 210px;
}

.data-table-search-and-filter {
  display: flex;
}

.data-table-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.data-table-title {
  font-size: 1.6em;
  margin-right: 10px;
}

.data-table-container {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.data-table-container.no-padding {
  padding: 0;
}

.data-table-title-and-buttons {
  display: flex;
}

.datatable-search-input {
  width: 200px;
}

.clickable-cell {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.paging-toolbar-container {
  margin-left: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pt-icon-standard.pt-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.data-table-search-and-clear-filter-container {
  display: flex;
}

.data-table-clear-filters {
  margin-right: 20px;
}

.tg-react-table-checkbox-cell {
  padding-top: 0;
}

.tg-react-table-checkbox-header-cell {
  padding-top: 0;
}

.tg-react-table-checkbox-cell-inner {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.tg-react-table-column-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tg-react-table-column-header:hover > * {
  transition: 0.2s;
  display: inherit !important;
}

.tg-react-table-column-header:hover .tg-sort-arrow-container > * {
  transition: 0.2s;
  display: inherit !important;
}

.tg-react-table-column-header:hover .tg-filter-menu-button {
  transition: 0.2s;
  display: block !important;
}

.tg-react-table-name {
  white-space: nowrap;
  overflow: hidden;
  min-width: 0px;
  padding: 8px 0 8px;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.tg-sort-arrow-container {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
}

.tg-sort-arrow-container > * {
  display: none !important;
  font-size: 10px !important;
}

.tg-sort-arrow-container > *:hover {
  background: rgba(167, 182, 194, 0.3);
}

.tg-active-sort {
  color: blue;
  display: inherit !important;
}

.tg-filter-menu-button {
  display: none !important;
}

.tg-active-filter {
  color: blue;
  display: block !important;
}

.data-table-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.ReactTable {
  user-select: none;
  background: white;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #f7f7f7;
}

.ReactTable .rt-tbody .rt-td {
  cursor: pointer;
  border-right: none;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}

.ReactTable .rt-tr-group {
  flex: initial;
  min-height: 35px !important;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom-color: rgb(233, 233, 233);
}

.ReactTable .rt-tr-group.selected {
  background: lightblue !important;
}

.tg-react-table-checkbox-header-container {
  padding: 12px 0 0 8px !important;
}

.tg-react-table-checkbox-cell-container {
  padding: 8px 0 0 8px !important;
}

.tg-compact-table .rt-tbody .rt-td {
  padding: 4px 7px;
}

.tg-compact-table .rt-tr-group {
  min-height: 25px !important;
}

.tg-compact-table .tg-react-table-checkbox-header-container {
  padding-top: 8px !important;
}

.tg-compact-table .tg-react-table-checkbox-cell-container {
  padding-top: 5px !important;
}

.tg-compact-table .tg-react-table-name {
  padding: 4px 0 4px;
}

.ReactTable .-loading.disabled {
  cursor: not-allowed;
}
