@import url(~@blueprintjs/core/lib/css/blueprint.css);
@import url(~@blueprintjs/datetime/lib/css/blueprint-datetime.css);
@import url(~@blueprintjs/icons/lib/css/blueprint-icons.css);
@import url(~react-select/dist/react-select.css);
@import url(~react-table/react-table.css);

body {
  margin: 0;
  padding: 0;
}

h1,
h4,
h6 {
  font-weight: 400;
}

/* fixes issue with pt icons not showing up */
[class^="pt-icon-"]:before,
[class*=" pt-icon-"]:before {
  font-family: Icons16 !important;
}

.toggle-button-holder {
  display: flex;
  flex-wrap: row;
}

.toggle-button-holder span {
  margin-left: 30px;
}
