@import url(~@blueprintjs/core/lib/css/blueprint.css);
@import url(~@blueprintjs/datetime/lib/css/blueprint-datetime.css);
@import url(~@blueprintjs/icons/lib/css/blueprint-icons.css);
@import url(~react-select/dist/react-select.css);

.bp3-dark .tg-card {
  background: #394b59 !important;
}

.preserve-newline {
  white-space: pre-line;
}

/* adding back in blueprint v2 default styling to all <h/> elements */
h1 {
  line-height: 40px;
  font-size: 36px;
}

h2 {
  line-height: 32px;
  font-size: 28px;
}

h3 {
  line-height: 25px;
  font-size: 22px;
}

h4 {
  line-height: 21px;
  font-size: 18px;
}

h5 {
  line-height: 19px;
  font-size: 16px;
}

h6 {
  line-height: 16px;
  font-size: 14px;
}
