@import url(~@blueprintjs/core/lib/css/blueprint.css);
@import url(~@blueprintjs/datetime/lib/css/blueprint-datetime.css);
@import url(~@blueprintjs/icons/lib/css/blueprint-icons.css);
@import url(~react-select/dist/react-select.css);

.bp3-dark .tg-card {
  background: #394b59 !important;
}

.preserve-newline {
  white-space: pre-line;
}

/* adding back in blueprint v2 default styling to all <h/> elements */
h1 {
  line-height: 40px;
  font-size: 36px;
}

h2 {
  line-height: 32px;
  font-size: 28px;
}

h3 {
  line-height: 25px;
  font-size: 22px;
}

h4 {
  line-height: 21px;
  font-size: 18px;
}

h5 {
  line-height: 19px;
  font-size: 16px;
}

h6 {
  line-height: 16px;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1.bp3-heading,
h2.bp3-heading,
h3.bp3-heading,
h4.bp3-heading,
h5.bp3-heading,
h6.bp3-heading {
  color: #182026;
  font-weight: 300;
  margin: 0 0 10px;
  padding: 0;
  line-height: normal;
}

.bp3-dark h1,
.bp3-dark h2,
.bp3-dark h3,
.bp3-dark h4,
.bp3-dark h5,
.bp3-dark h6 {
  color: #f5f8fa;
}
.bp3-dark textarea {
  background: #293742;
  color: #f5f8fa;
}

/* bp3 fix https://github.com/palantir/blueprint/issues/2807 */
.bp3-popover-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
/* bp3 fix https://github.com/palantir/blueprint/issues/2807 */
span.bp3-popover-target {
  display: block;
}

.bp3-portal {
  z-index: 100000;
}

.Select {
  min-width: 170px;
}

/* override the default blueprint input focus to instead rely on an inset box shadow. This resolves any issues with overflow:hidden cutting off input box shadows */
.bp3-dark .bp3-input:focus,
.bp3-input:focus {
  box-shadow: inset 0 0 3px 1px #137cbd;
}
